
@using BOL;
<!-- @{
    ViewData["Title"] = "Index Page";
} -->
@{
    ViewData["Title"] =" Index Page";
}
 <h2>Product Available</h2>

<ol>
<a href="/Products/ShowAllColleges"><li>Colleges<li></a>
<a><li>Library</li></a>
<a><li>Labs</li></a>
</ol>