<!-- @{
    ViewData["Title"] = "Admin Page";
}

<h1>Welcome Admin</h1>

<form action="/Products/AllProducts">
    <button type="submit" name="display" id="display">Display</button>
</form> -->
@{
    ViewData["Title"] = "Admin Page";
}
<h1>Welcome Admin</h1>
<form action="/Products/AllProducts">
<button type="submit" name="display" id="display">Display</button>
</form>